<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BVT Testing">
    <listeners>
        <listener class-name="org.example.utils.TestListener"/>
        <listener class-name="org.example.utils.AllureLogAttachmentListener" />
    </listeners>
    <test name="Build Verification Test">
        <classes>
            <class name="home_test.LogTest" />
        </classes>
    </test>
</suite>